html, body {
  overflow: hidden;
}

.container {
  display: flex;
}

.ladoEsquerdo {
  width: 50%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  justify-content: center;
  align-items: center;
  display: flex;
}

#sideImage {
  margin-right: 13%;
}

.ladoDireito {
  margin-top: 12.5rem;
  margin-left: 12.5rem;
}

#seta {
  font-size: 1.563rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #636262;
}

#cadTxt {
  font-size: 0.938rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #636262;
}

.formDiv {
  font-size: 1.063rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #636262;
  position: relative;
}

#mailIcon {
  position: absolute;
  right: 90%;
  bottom: 78%;
  font-size: 1.563rem;
  color: rgb(207, 206, 206);
}

#emailLabel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  width: 18.75rem;
  height: 2.188rem;
  padding-left: 2.188rem;
  border-color:rgb(219, 216, 216);
}

::placeholder {
  font-size: 0.938rem;
  padding-left: 0.625rem;
  color: rgb(207, 206, 206);
}

#senhaLabel{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  width: 18.75rem;
  height: 2.188rem;
  padding-left: 2.188rem;
  border-color:rgb(219, 216, 216);
}

#lockIcon {
  position: absolute;
  right: 90%;
  bottom: 48%;
  font-size: 1.563rem;
  color: rgb(207, 206, 206);
}

#eyeIcon {
  position: absolute;
  right: 4%;
  bottom: 48%;
  font-size: 1.563rem;
  cursor: pointer;
}

#checkInput {
  width: 1.25rem;
  height: 1.25rem;
  float: left;
  accent-color: #13968b;
}

.checkDiv {
  display: inline;
  font-size: 14px;
  cursor: pointer;
}

#entBot {
  width: 21.313rem;
  height: 2.563rem;
  background-color: #0CC4B6;;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

#regTxt {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  padding-left: 30px;
  color: #0CC4B6;
}